* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#calculator,
#buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

#calculator {
    background-color: #384450;
    width: fit-content;
    padding: 2rem;
    min-width: 25rem;
    max-width: 40rem;
    border-radius: 0.5rem;
}

#visor {
    color: #f7f7f7;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#visor #operation {
    font-size: 1rem;
}

#visor #result {
    font-size: 4rem;
}

.row {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.row button {
    min-width: 0; 
    flex: 1;
    aspect-ratio: 1;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #384450;
    color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;                                                                                     
}

.row button.equal {
    flex: 2;
}

.row button.special {
    color: #66f6dc;
}

.row button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}